.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  padding: 10px;
  margin-bottom: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666;
}

a {
  color: #FF5722;
}

a:hover, a:active, a:focus {
  color: #FFC107;
  text-decoration: none;
}

.btn-primary, .btn-primary:focus {
  background-color: #FF5722;
  border: none;
}

  .btn-primary:hover, .btn-primary:active {
    background-color: #FFC107;
    border: none;
  }

.discuss, .discuss:focus {
  color: #FF5722;
  border-color: #FF5722;
}

  .discuss:hover, .discuss:active {
    color: #FFC107;
    border-color: #FFC107;
    background-color: #FFF;
  }

.btn-danger, .btn-danger:focus {
  color: #E91E63;
  background-color: #FFF;
  border-color: #E91E63;
}

  .btn-danger:hover, .btn-danger:active {
    color: #FFF;
    background-color: #E91E63;
    border-color: #E91E63;
  }

#main {
  position: relative;
  margin-top: 80px;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.nav {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 80px;
}
.navbar-brand {
  height: auto;
  padding: 15px;
}

.navbar-nav > li > a {
  line-height: 50px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin: 15px;
    border: none;
    border-radius: 0;
    height: 50px;
}

#spinner {
  height: 300px; }

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}

.dropdown-menu > li > a {
    color: #FF5722;
}

.load-more {
  display: block;
  background: #FF5722;
  color: #FFF;
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #FFC107;
  }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #FF5722;
}

.has-error .form-control {
  border-color: #FF5722;
}

.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
  .alert.alert-danger {
    background-color: #FF5722;
    border: none;
    color: #FFF;
  }
  .alert.alert-danger button {
    color: #FFF;
    opacity: 0.8;
  }
    .alert.alert-danger button {
      opacity: 1;
    }
.post{
  position:relative;
}
.post.animate{
  transition:all 300ms 0ms ease-in;
}
.post-pad {
  margin: 10px;
}
.brand-text {
  line-height: 40px;
  padding-left: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #222;
  width: 100%;
  padding: 15px;
}
.badge {
  background-color: #FF5722;
}
.req {
  color: red;
}
.post .row {
  margin: 0;
}
.post-message {
  padding-top: 20px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}