<template name="postSubmit">

  <form class="main form page">

    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title"><span class="req">*</span> Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Guitarist wanted!" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'message'}}">
      <label class="control-label" for="message"><span class="req">*</span> Message</label>
      <div class="controls">
          <textarea name="message" id="message" value="" placeholder="Check out my my new band..." class="form-control" rows="5"></textarea>
          <span class="help-block">{{errorMessage 'message'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="url"><em>(optional)</em> URL</label>
      <div class="controls">
          <input name="url" id="url" type="url" value="" placeholder="http://example.com" class="form-control"/>
          <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>

  </form>

</template>